@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik+Distressed&display=swap');
* {
  font-family: "league spartan";
  color: black;
  font-size: 30px;
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
  // h2 {
  //   font-family: ;
  //   color: ;
  //   font-size: ;
  // }
  // h3 {
  //   font-family: ;
  //   color: ;
  //   font-size: ;
  // }
  p {
    font-size: 20px;
  }
}
